{
    "name": "{{ project_name }}",
    {% if 'Jetstream' in rootless_rootful -%}
    "build": {
        "dockerfile": "Dockerfile"
    },
    {% elif 'Alta' in rootless_rootful -%}
    "dockerComposeFile": "docker-compose.yml",
    "service": "app"
    {%- endif %}

    "workspaceMount": "source=${localWorkspaceFolder},target=/home/jovyan/work,type=bind",
    "workspaceFolder": "/home/jovyan/work",

    "forwardPorts": [8888],
    "overrideCommand": true,
    "postStartCommand": "nohup bash -c 'jupyter {{ 'lab' if use_jupyterlab else 'server' }} --allow-root --ip 0.0.0.0 --ServerApp.allow_origin=\"*\" &'",

    {%- if 'Jetstream' in rootless_rootful %}
    "remoteUser": "root",
    {%- endif %}
    "runArgs": [
        {%- if 'Jetstream' in rootless_rootful %}
        "--user=root",
        "--env=GRANT_SUDO=yes",
        {%- elif 'Alta' in rootless_rootful %}
        "--memory=1.8g",
        "--cpu-shares=300"
        {%- endif %}
    ],

    "customizations": {

        "vscode": {
            "settings": {
            
            {%- if use_vscode_ext -%}

                {%- if 'Python' in dev_language %}
                "python.defaultInterpreterPath": "/opt/conda/bin/python",
                {%- endif %}

                {%- if 'R' in dev_language %}
                "r.rterm.linux": "/opt/conda/bin/radian",
                "r.bracketedPaste": true,
                "r.plot.useHttpgd": true
                {%- endif %}

            {%- endif %}
            },
            "extensions": [

            {%- if use_vscode_ext -%}

                {%- if 'Python' in dev_language %}
                "ms-python.python",
                "ms-toolsai.jupyter",
                "ms-toolsai.jupyter-keymap",
                {%- endif %}

                {%- if use_quarto %}
                "quarto.quarto",
                {%- endif %}

                {%- if 'R' in dev_language %}
                "reditorsupport.r",
                "RDebugger.r-debugger",
                {%- endif %}

            {%- endif %}
                "ms-vscode.live-server",
                "analytic-signal.preview-pdf"
            ]
        }

    },
    // Uncomment the next line if you want to keep your containers running after VS Code shuts down.
	"shutdownAction": "none"
}
