version: '3'

services:
  app:
    # Using a Dockerfile is optional, but included for completeness.
    build: 
      context: .
      dockerfile: Dockerfile
      network: "host"
    network_mode: "host"

    volumes:
      # This is where VS Code should expect to find your project's source code and the value of "workspaceFolder" in .devcontainer/devcontainer.json
      - ..:/home/jovyan/work:cached

    # Uncomment the next line to use a non-root user for all processes - See https://aka.ms/vscode-remote/containers/non-root for details.
    user: root
    command:
      - jupyter
      - {{ 'lab' if use_jupyterlab else 'server' }}
      - --allow-root
      - --ip='0.0.0.0'
      - --ServerApp.allow_origin='*'

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

    # Uncomment the next four lines if you will use a ptrace-based debugger like C++, Go, and Rust.
    # cap_add:
    #   - SYS_PTRACE
    # security_opt:
    #   - seccomp:unconfined
    
    # You can include other services not opened by VS Code as well
    # another-service:
    #   image: mongo:latest
    #   restart: unless-stopped